
<div class="row">
  <div class="col-md-12"> </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="text-dark">
      <h2 class="text-left">Blog Title</h2>
      <div class="form-group text-left">
        <input type="text" class="form-control" placeholder="Please type in blog title" ng-model="blog.title"> 
      </div>
      <h2 class="text-left">Blog Content</h2>
      <div class="form-group text-left">
        <textarea class="form-control" rows="5" placeholder="Please type in blog Content" ng-model="blog.content"></textarea>
      </div>
      <div class="form-group text-left">
        <label>Image URL</label>
        <input type="text" class="form-control" placeholder="Image URL" ng-model="blog.imageUrl"> 
      </div>
      <a class="btn btn-primary text-white" ng-click="doSubmit()">Post</a>
    </form>
  </div>
</div>
<div class="py-3 bg-light" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-1">
        <button class="btn btn-primary" ng-click="goPrevious()" ng-disabled="c==0"><<</button>
      </div>
      <div class="col-md-10 align-self-center">
        <img class="img-fluid rounded mx-auto d-block" style="width: 100%;" src="{{currentBlog.imageUrl}}">
        <h3 class="my-3">{{currentBlog.title}}</h3>
        <p class="text-left">{{currentBlog.content}}</p>
        <p class="text-right">-- Posted By <b class="btn-link" ng-click="goUser()">{{currentBlog.poster}}</p>
      </div>
      <div class="col-md-1">
        <button class="btn btn-primary" ng-click="goNext()" ng-disabled="c==blogList.length-1">>></button>
      </div>
    </div>
</div>