<div class="row">
        <div class="col-md-6">
          <h2>We Would Love to Hear From You</h2>
          <form>
            <div class="form-group text-left">
              <label>Please Provide Your Name:</label>
              <input type="email" name="email" class="form-control" placeholder="Enter Name"> </div>
            <div class="form-group text-left">
              <label for="InputEmail1">Please Provide Your Email Address:</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="Enter Email"> </div>
            <div class="form-group text-left">
              <label for="Textarea" class="">Please Write Your Message Here:</label>
              <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
        <div class="col-md-6">
          <h2> Contact Us by Phone and Online Chat</h2>
          <br>
          <p class="">Phone:
            <a href="#">
              <b>
                <i>571-594-0009</i>
              </b>
            </a> *10 am-4 pm, Mon-Fri*
            <br>
            <a href="#">
              <b>
                <i>Online Chat</i>
              </b>
            </a> *24 hours 7 days per week*</p>
        </div>
      </div>