
  <div class="text-center py-5 filter-light" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);background-repeat:repeat-y;background-position:center center;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6">
          <h3>Plan title</h3>
          <p class="my-3">Plan content</p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary m-2 w-75" href="#">Edit</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 w-75">
                  <a class="btn btn-primary m-2 w-75" href="#">Publish</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary m-2 w-75" href="#">Export</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary m-2 w-75" href="#request">Received Requests (0)</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary m-2 w-75" href="#">Feedback</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary m-2 w-75" href="#">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12">
            <h3>Plan title</h3>
            <p class="my-3">Plan content</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-primary m-2 w-75" href="#">Edit</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 w-75">
                    <a class="btn btn-primary m-2 w-75" href="#">Unpublish</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-primary m-2 w-75" href="#">Export</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-primary m-2 w-75" href="request.html">Received Requests (1)</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-primary m-2 w-75" href="#">Feedback</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-primary m-2 w-75" href="#">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="">
            <b>
              <a href="#myAccount"> Go Back to My Account</a>
            </b>
          </p>
        </div>
      </div>
    </div>
  </div>
