<div class="row">
        <div class="col-md-12">
          <p class="lead text-left">
            <u>
              <a href="#updateAccount">
                <b>Update Account Profile</b>
              </a>
            </u>
          </p>
          <p class="lead text-left">
            <u>
              <a href="#">
                <b>Manage Your Trips</b>
              </a>
            </u>
          </p>
          <p class="lead text-left">
            <b>
              <a href="#">
                <u>Manage Your Blogs</u>
              </a>
            </b>
          </p>
          <p class="lead text-left">
            <b>
              <a href="#" ng-click="deleteAccount()">
                <u>Delete Account</u>
              </a>
            </b>
          </p>
        </div>
      </div>
    </div>