<div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="bg-light col-md-4">
              <div class="card-body text-dark text-left">
                <h1 class="mb-4 text-dark">Sign Up to OnRoad</h1>
                <form action="https://formspree.io/YOUREMAILHERE">
                  <div class="form-group">
                    <label>Username (required)</label>
                    <input type="email" class="form-control" placeholder="Enter your username"> </div>
                  <div class="form-group">
                    <label>Firs Name (required)</label>
                    <input type="firstname" class="form-control" placeholder="Enter your first name"> </div>
                  <div class="form-group">
                    <label>Last Name (required)</label>
                    <input type="lastname" class="form-control" placeholder="Enter your last name"> </div>
                  <div class="form-group">
                    <label>Phone Number(required)</label>
                    <input type="integer" class="form-control" placeholder="Number only"> </div>
                  <div class="form-group">
                    <label>Email address(required)</label>
                    <input type="email" class="form-control" placeholder="Email"> </div>
                  <div class="form-group">
                    <label>Password(required)</label>
                    <input type="password" class="form-control" placeholder="At least six characters"> </div>
                  <button type="submit" class="btn btn-secondary">Sign Up</button>
                  <div class="form-group">
                    <label>Already have an account? <a href="#login" style="color: orange">Log in</a></label>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>