
  <div class="text-center py-5 filter-light" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;); background-position: center center; background-repeat: repeat-y;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th># Request</th>
                <th>Account</th>
                <th>Message</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark123</td>
                <td>Hello</td>
                <td>
                  <a href="#" class="btn btn-outline-primary">Approve</a>
                </td>
                <td>
                  <a href="#" class="btn btn-outline-primary">Decline</a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob456</td>
                <td>HEHE</td>
                <td>
                  <a href="#" class="btn btn-outline-primary">Approve</a>
                </td>
                <td>
                  <a href="#" class="btn btn-outline-primary">Decline</a>
                </td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
          <div class="row"></div>
          <div class="row">
            <div class="col-md-6">
              <table class="table">
                <thead>
                  <tr>
                    <th># Partner</th>
                    <th>Account</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td></td>
                    <a href="#" class="btn btn-outline-primary">Delete</a>
                  </tr>
                  <tr></tr>
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="">
            <b>
              <u>
                <a href="#manageTrip">Go Back to Manage My Trips</u>
            </b>
          </p>
          <p class="">
            <b>
              <u>
                <a href="#myAccount">Go Back to My Account</a>
              </u>
            </b>
          </p>
        </div>
      </div>
    </div>
  </div>
