
  <div class="">
    <div class="container">
      <div class="row p-2">

        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://www.blankrome.com/sites/default/files/styles/max_1000px/public/2018-01/washingtondc-809349300.jpg?itok=6EjvMGMy">
            <div class="card-body">
              <p class="card-text">
                <b>
                  <u>Washington DC Trip</u>
                </b>
                <br>Hi my name is Jimmy. I will be traveling to DC in May. You can join me if you also want to visit DC. We can discuss plan detail in future. :)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Publisher</button>
                </div>
                <small class="text-muted">few minute ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/0d/f4/de/26/empire-state-building.jpg">
            <div class="card-body">
              <p class="card-text">
                <b>
                  <u>New York City Trip&nbsp;</u>
                </b>
                <br>Hi I am Bella. I am posting this trip to find a group at NYC. Here is my plans and places I am so excited to visits! Contact me ASAP!
                <br>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='#viewOne'">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Publisher
                    <br> </button>
                </div>
                <small class="text-muted">Yesterday</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIkL20BBiUNvTr4QsNkTI32urqrdsZceSgt084VATPlHqeRHno">
            <div class="card-body">
              <p class="card-text">
                <b>
                  <u>Los Angeles Trip</u>
                </b>
                <br>I am going to LA in June. Anyone wanna go together? Here is my plan and any feedback would be great!
                <br>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Publisher</button>
                </div>
                <small class="text-muted">3 days ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_645,q_50,w_1024/v1/clients/denver/denver_skyline_sunrise_74e8feaa_b49a_4b25_9720_c835907530a9_ca5bc80d-6503-4f77-8220-5520ee2bdac2.jpg">
            <div class="card-body">
              <p class="card-text">
                <b>
                  <u>Denver Trip</u>
                </b>
                <br>I am writing this plan to get some feedbacks from some of you who are familier with Denver.
                <br>Chat with me if you have any idea! Thx!
                <br>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Publisher</button>
                </div>
                <small class="text-muted">a week ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://media.gettyimages.com/photos/phoenix-skyline-framed-by-saguaro-cactus-and-mountainous-desert-picture-id155598038">
            <div class="card-body">
              <p class="card-text">
                <b>
                  <u>Phoenix Trip
                    <br>
                  </u>
                </b>Hi I am Alice from NYC. I want to spend a couple of days in Phoenix AZ. I will like to see if anyone wants to join me and we will have wonderful time together!
                <br>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Publisher</button>
                </div>
                <small class="text-muted">a week ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Chicago_skyline%2C_viewed_from_John_Hancock_Center.jpg/500px-Chicago_skyline%2C_viewed_from_John_Hancock_Center.jpg">
            <div class="card-body">
              <p class="card-text">
                <b>
                  <u>Chicago Trip
                    <br>
                  </u>
                </b>Hey! I am going to Chicago in a few months. Check out my plan and see if you are interested in going together.
                <br>Let me know!
                <br>Thank you.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Publisher</button>
                </div>
                <small class="text-muted">2 weeks ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-3"></div>
        <div class="col-md-4 p-3"></div>
        <div class="col-md-4 p-3"></div>
      </div>
    </div>
  </div>
