
  <div class="py-0 bg-light" style="background-repeat:no-repeat;">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-6 px-0">
          <h3 class="w-100 display-4 my-3 px-0">New York City Trip</h3>
        </div>
        <div class="col-md-2  offset-md-4">
          <a class="btn navbar-btn ml-2 text-white btn-secondary btn-lg my-4">&nbsp;Participate</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead col-md-8">Hi I am Bella. I am posting this trip to find a group at NYC. Here is my plans and places I am so excited to visits! Contact me ASAP!</p>
        </div>
        <div class="col-md-6">
          <p class="lead col-md-8">Traveling Date:
            <br>June 3 2018 to June 8 2018</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Attractions</th>
                <th>Day
                  <br> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>The Empire State Building</td>
                <td>1</td>
              </tr>
              <tr>
                <td>The Statue of Liberty</td>
                <td>1</td>
              </tr>
              <tr>
                <td>American Museum of Natural History</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Guggenheim Museum</td>
                <td>2</td>
              </tr>
              <tr>
                <td>9/11 Memorial &amp; Museum</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Top of the Rock Observation Deck </td>
                <td>3</td>
              </tr>
              <tr>
                <td>Intrepid Sea, Air &amp; Space Museum</td>
                <td>4</td>
              </tr>
              <tr>
                <td>The Metropolitan Museum of Art</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Top of the Rock Observation Deck </td>
                <td>4</td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 p-3">
          <table class="table table-hover table-striped table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Hotel</th>
                <th scope="col">Nights</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Westin Brooklyn</th>
                <td>2</td>
                <td>Booked</td>
              </tr>
              <tr>
                <th scope="row">Sheraton Uptown</th>
                <td>1</td>
                <td>Booked</td>
              </tr>
              <tr class="bg-info">
                <th scope="row">Sharaton Midtown</th>
                <td>1</td>
                <td>Booked</td>
              </tr>
            </tbody>
          </table>
          <div class="row text-left mt-5">
            <div class="col-md-6 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary">
                    <b>Publisher Info</b>
                  </h5>
                </div>
              </div>
              <ul class="">
                <li class="my-1">jiahuiwang0928</li>
              </ul>
            </div>
            <div class="col-md-6 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary">
                    <b>Trip Info</b>
                  </h5>
                </div>
              </div>
              <ul class="">
                <li class="my-1">Days: 4</li>
                <li class="my-1">Family size: 1</li>
                <li class="my-1">Open Slots: 1</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
